body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  padding: 20px;
  background: #ddcbcb;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(204px, 1fr));
  gap: 65px;
  padding: 6px;
}
